[user]
	name = firstian
	email = firstianus@gmail.com

[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=3600
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	st = status
	co = checkout
	cm = commit -m
	ll = log --oneline
[fetch]
	prune = true

[filter "strip-notebook-output"]
	clean = "jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR"
